html, body {
  margin: 0;
  height: 100%;
  background: rgb(190, 190, 200);
  font-family: Arial, sans-serif;
}

.center {
  display: block;
  margin: 0 auto;
  width: 460px;
  height: auto;
}

.content {
  width: 460px;
  margin: 12px auto; 
}

.title {
  font-weight: bold;
  margin-top: 36px;
  font-size: 30px;
  color: rgb(255, 150, 0);
}

.body {
  font-size: 16px;
  color: rgb(255, 0, 115);
}

.ugh {
  margin-top: 24px;
}